@import "tailwindcss";

@theme{
  --color-darkblue: #00203D;
  --color-lightblue: #72BCFF;
  --color-red: #FF0000;
  --color-bronze: #4D8093;
}

.form-input {
  @apply border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.button-primary {
  @apply bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600;
}

/* src/index.css or tailwind.css */
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.my-cart-item {

  transition: all 0.5s ease-in-out;  /* transition-all duration-500 ease-in-out */
  transform: scale(0.95);            /* scale-95 */
  opacity: 0;                        /* opacity-0 */

  animation: fadeIn 0.5s ease-in-out forwards; /* animate-[fadeIn_0.5s_ease-in-out_forwards] */
}

/* Define the fadeIn keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

