@import "tailwindcss";

@theme{
  --color-darkblue: #00203D;
  --color-lightblue: #72BCFF;
  --color-red: #FF0000;
  --color-bronze: #4D8093;
}

.form-input {
  @apply border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.button-primary {
  @apply bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600;
}

/* src/index.css or tailwind.css */
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
